.navbar-toggler {
    border: 1px solid white;
}


.navbar {
    background-color: black;
}

.logo {
    width: 100%;
    height: 80px;
    object-fit: cover;
}

.active-link {
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    margin: auto;
}

nav ul li {
    margin: 0 1.5rem;
}

nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    transition: 0.5s;
}

nav ul li a:hover {
    color: #fff;
    text-transform: uppercase;

}

nav ul li a::after {
    height: 0.2rem;
    width: 0;
    transition: 0.2s;
}

nav ul li a:hover::after {
    width: 100%;
}

.nav-link {
    color: #fff;
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
}





/* button sing up */
.btn {
    --primary-color: #645bff;
    --secondary-color: #111;
    --hover-color: #fff;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    background: var(--primary-color);
    display: flex;
    transition: 0.2s;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
}

.btn .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn .arrow {
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

.btn .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

.btn:hover {
    background-color: var(--hover-color);
}

.btn:hover .arrow {
    background: var(--secondary-color);
}

.btn:hover .arrow:before {
    right: 0;
}