<footer class="footer pt-5 pb-4">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-wieght-bold">What we offer</h5>
        <p>
          This platform offers a market where consumers and businesses can list
          their services and connect with potential buyers.
        </p>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-wieght-bold">Links</h5>
        <p>
          <a routerLink="home"><i class="bi bi-house"></i> home</a>
        </p>
        <p>
          <a routerLink="service"><i class="bi bi-list-check"></i> services</a>
        </p>
        <p>
          <a routerLink="about"><i class="bi bi-file-person"></i> about us</a>
        </p>
        <p>
          <a routerLink="contact"
            ><i class="bi bi-person-rolodex"></i> contact us</a
          >
        </p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-wieght-bold">Contact</h5>
        <p>
          <i class="bi bi-house-door-fill mr-3"></i>&nbsp;&nbsp;Morocco, Beni
          Mellal
        </p>
        <p>
          <i class="bi bi-telephone-inbound-fill mr-3"></i>&nbsp;&nbsp;+212
          18181818
        </p>
        <p>
          <i class="bi bi-envelope-at-fill"></i>&nbsp;&nbsp;I_mica@gmail.com
        </p>
      </div>
      <hr class="mb-4" />
      <div class="row align-items-center">
        <div class="col-md-7 col-lg-8">
          <p>
            Copyright @2024 All rights reserved by:
            <a target="_blank" href="https://github.com/IMADWRGH">
              <strong>I_MiCA</strong></a
            >
          </p>
        </div>
        <div class="col-md-5 col-lg-4">
          <div class="text-center text-md-right">
            <ul class="list-unstyled">
              <li class="list-inline-item">
                <a
                  target="_blank"
                  href="https://github.com/IMADWRGH"
                  class="btn-floating btn-sm text-white"
                  ><i class="bi bi-facebook"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  target="_blank"
                  href="https://github.com/IMADWRGH"
                  class="btn-floating btn-sm text-white"
                  ><i class="bi bi-twitter"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  target="_blank"
                  href="https://github.com/IMADWRGH"
                  class="btn-floating btn-sm text-white"
                  ><i class="bi bi-linkedin"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  target="_blank"
                  href="https://github.com/IMADWRGH"
                  class="btn-floating btn-sm text-white"
                  ><i class="bi bi-instagram"></i
                ></a>
              </li>
              <li class="list-inline-item">
                <a
                  target="_blank"
                  href="https://github.com/IMADWRGH"
                  class="btn-floating btn-sm text-white"
                  ><i class="bi bi-youtube"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
