<div class="container">
  <div class="row">
    <div class="col-md-3" *ngFor="let card of cards">
      <mat-card class="service-card">
        <img mat-card-image [src]="card.images[1].url" alt="Service image" />
        <mat-card-content>
          <h2>{{ card.name }}</h2>
          <p>{{ card.description }}</p>
          <p class="location">
            <mat-icon>location_on</mat-icon>
            <span>Location</span>
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary">Booking</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>