.container-fluid .mat-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;

}

.container-fluid .fs-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: 500;
}

.container-fluid .mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

.container-fluid .form-group {
    margin-bottom: 20px;
}

.container-fluid .text-center {
    text-align: center;
}

.container-fluid button {
    margin-right: 10px;
}

.container-fluid .invalid-feedback {
    color: #f44336;
    font-size: 0.875em;
}

.container-fluid input.is-invalid {
    border-color: #f44336;
}

@media (max-width: 768px) {
    .container-fluid .mat-card {
        width: 95%;
    }
}

@media (max-width: 576px) {
    .container-fluid .mat-card {
        width: 100%;
    }
}