<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-11 col-sm-10 col-md-8 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
      <mat-card class="shadow p-4 mb-5 card rounded">
        <h2 id="heading">Sign Up Your User Account</h2>
        <form id="msform" [formGroup]="userSignupFormGroup" (ngSubmit)="onSubmit()">
          <fieldset>
            <div class="form-card ">
              <div class="row">
                <div *ngIf="EmailError" class="alert alert-danger">
                  {{ EmailError}}
                </div>
                <div class="col-md-6 form-group">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" placeholder="Email" />
                    <mat-icon matPrefix>email</mat-icon>
                    <mat-error *ngIf="submitted && f['email'].errors">
                      <div *ngIf="f['email'].errors['required']">Email is required.</div>
                      <div *ngIf="f['email'].errors['email']">Invalid email format.</div>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6 form-group">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Full Name</mat-label>
                    <input matInput type="text" formControlName="fullName" placeholder="Full Name" />
                    <mat-icon matPrefix>person</mat-icon>
                    <mat-error *ngIf="submitted && f['fullName'].errors">
                      <div *ngIf="f['fullName'].errors['required']">Full Name is required.</div>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" placeholder="Password" />
                    <mat-icon matPrefix>lock</mat-icon>
                    <mat-error *ngIf="submitted && f['password'].errors">
                      <div *ngIf="f['password'].errors['required']">Password is required.</div>
                      <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters long.</div>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6 form-group">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Number of Licenses</mat-label>
                    <input matInput type="number" formControlName="nb_license" placeholder="Number of Licenses" />
                    <mat-icon matPrefix>confirmation_number</mat-icon>
                    <mat-error *ngIf="submitted && f['nb_license'].errors">
                      <div *ngIf="f['nb_license'].errors['required']">Number of Licenses is required.</div>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                <label class="fieldlabels">Profile Image: (Optional)</label>
                <input type="file" name="image" class="form-control" (change)="onFileChange($event)" accept="image/*" />
              </div>
                <div class="col-md-6 form-group">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Sex</mat-label>
                    <mat-select formControlName="sexe">
                      <mat-option value="M">Male</mat-option>
                      <mat-option value="F">Female</mat-option>
                    </mat-select>
                    <mat-error *ngIf="submitted && f['sexe'].errors">
                      <div *ngIf="f['sexe'].errors['required']">Sex is required.</div>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Phone</mat-label>
                    <input matInput type="tel" formControlName="phone" placeholder="Phone Number" />
                    <mat-icon matPrefix>phone</mat-icon>
                    <mat-error *ngIf="submitted && f['phone'].errors">
                      <div *ngIf="f['phone'].errors['required']">Phone Number is required.</div>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6 form-group">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Website</mat-label>
                    <input matInput type="url" formControlName="site" placeholder="Website URL" />
                    <mat-icon matPrefix>public</mat-icon>
                    <mat-error *ngIf="submitted && f['site'].errors">
                      <div *ngIf="f['site'].errors['required']">Website URL is required.</div>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Street</mat-label>
                    <input matInput type="text" formControlName="street" placeholder="Street" />
                    <mat-icon matPrefix>home</mat-icon>
                    <mat-error *ngIf="submitted && f['street'].errors">
                      <div *ngIf="f['street'].errors['required']">Street is required.</div>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6 form-group">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Regional Name</mat-label>
                    <input matInput type="text" formControlName="name_regional" placeholder="Regional Name" />
                    <mat-error *ngIf="submitted && f['name_regional'].errors">
                      <div *ngIf="f['name_regional'].errors['required']">Regional Name is required.</div>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>City Name</mat-label>
                    <input matInput type="text" formControlName="name_city" placeholder="City Name" />
                    <mat-error *ngIf="submitted && f['name_city'].errors">
                      <div *ngIf="f['name_city'].errors['required']">City Name is required.</div>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6 form-group">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Shop Number</mat-label>
                    <input matInput type="text" formControlName="shop_number" placeholder="Shop Number" />
                    <mat-error *ngIf="submitted && f['shop_number'].errors">
                      <div *ngIf="f['shop_number'].errors['required']">Shop Number is required.</div>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group text-center">
                <button mat-raised-button color="primary" type="submit">Register</button>
                <button mat-raised-button color="warn" type="button" (click)="onReset()">Reset</button>
              </div>
            </div>
          </fieldset>
        </form>
      </mat-card>
    </div>
  </div>
</div>

