<div
  class="d-flex justify-content-center align-items-center container"
  style="height: 80vh"
>
  <form class="form" [formGroup]="signupForm" (ngSubmit)="registerUser()">
    <p class="form-title">Sign up</p>
    <div class="input-container">
      <input type="text" placeholder="Enter full name" formControlName="name" />
      <span> </span>
    </div>
    <div class="input-container">
      <input type="email" placeholder="Enter email" formControlName="email" />
      <span> </span>
    </div>
    <div class="input-container">
      <input
        type="password"
        placeholder="Enter password"
        formControlName="password"
      />
    </div>
    <div class="input-container">
      <select name="role" formControlName="role">
        <option value="" disabled selected>SignUp like...</option>
        <option value="SELLER">Seller</option>
        <option value="CUSTOMER">Customer</option>
      </select>
    </div>
    <button type="submit" class="submit">Sign in</button>

    <p class="signup-link">
      Have an account?
      <a routerLink="/login">Log in</a>
    </p>
  </form>
</div>