<mat-drawer-container [autosize]="true" class="min-vh-100 mx-auto border-start border-end" >

  <mat-drawer mode="side" opened class="p-6">
    <div>
      <app-filter (ShowCategory)="onShowCategory($event)"></app-filter>
    </div>
  </mat-drawer>
<mat-drawer-content class="p-6">
 <app-products-header
      (columnsCountChange)="onColsCountChange($event)"
      (itemsCountChange)="onItemsCountChange($event)"
      (sortCountChange)="onSortCountChange($event)"
    ></app-products-header>
     <mat-grid-list gutterSize="16" [cols]="clos" [rowHeight]="rows">
      <mat-grid-tile *ngFor="let product of products">
        <app-product-box
          [product]="product"
          class="w-full"
          [fullWidthMode]="clos === 1"
          (addToCart)="onAddToCart($event)"
        ></app-product-box>
      </mat-grid-tile>
    </mat-grid-list>
</mat-drawer-content>
</mat-drawer-container>