<div class="container">
   <div class="filters">
    <a class="button text-decoration-none" routerLink="/catalog/Heads">Heads</a>
    <a class="button text-decoration-none" routerLink="/catalog/Arms">Arms</a>
    <a class="button text-decoration-none" routerLink="/catalog/Torsos">Torsos</a>
    <a class="button text-decoration-none" routerLink="/catalog/Bases">Bases</a>
    <a class="button text-decoration-none" routerLink="['/catalog','']">All</a>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-4 mb-3">
      <div class="product-box">
        <div class="product-inner-box position-relative">
          <div class="icons position-absolute">
            <a href="" class="text-decoration-none"
              ><i class="bi bi-heart-fill"></i
            ></a>
            <a href="" class="text-decoration-none"
              ><i class="bi bi-eye"></i
            ></a>
          </div>
          <div class="onsale">
            <span class="badge rounded-0"
              ><i class="bi bi-arrow-down"></i>29%</span
            >
          </div>
          <img src="/assets/images/img1.jpg" class="img-fluid box-shadow" alt="" />
          <div class="cart-btn">
            <button class="btn btn-white shadow-sm rounded-pill">
              <i class="bi bi-cart-plus-fill"></i> Add to cart
            </button>
          </div>
        </div>
        <div class="product-info">
          <div class="product-name">
            <h3>Woodan chair</h3>
          </div>
          <div class="product-price">$ <span>25</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
