<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 mb-4">
      <mat-card class="shadow-card">
        <img mat-card-image src="" alt="Image description 1" />
        <mat-card-content class="mt-3">
          <div>
            <h3>Product Name 1</h3>
            <p>Price: $99.99</p>
            <div class="rating">
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star_border</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6 mb-4">
      <mat-card class="shadow-card">
        <img mat-card-image src="" alt="Image description 2" />
        <mat-card-content class="mt-3">
          <div>
            <h3>Product Name 2</h3>
            <p>Price: $89.99</p>
            <div class="rating">
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star_border</mat-icon>
              <mat-icon>star_border</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
