.mat-form-field {
    width: 100%;
    background-color: #ffffff;
}

.input-group .form-control {
    border-radius: 20px 0 0 20px;
}

.input-group .btn {
    border-radius: 0 20px 20px 0;
}

.card {
    border: 1px silver solid;
}

.card-img-top {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.card-text {
    font-size: 1.2rem;
    font-weight: bold;
}

@media (min-width: 576px) {
    .card-img-top {
        width: 150px;
        height: 150px;
    }
}