<div class="container-fluid hero">
  <div class="row h-100">
    <div class="col-md-6 d-flex flex-column justify-content-center p-5">
      <h1>Discover Unique Artisan Creations on Hrafty</h1>
      <p>
        Explore a curated collection of handmade goods crafted with passion and
        skill. Whether you're looking for exquisite jewelry, bespoke furniture,
        or artisanal decor, find something special that speaks to you.
      </p>
      <div>
        <button class="btn btn-dark me-2" routerLink="/products">
          Shop Now
        </button>
        <button class="btn btn-outline-primary">Learn More</button>
      </div>
    </div>
    <div class="col-md-6 d-flex flex-column overflow-hidden">
      <div class="scrolling-images row">
        <div class="col-6 mb-3">
          <img src="/assets/images/R.jfif" alt="Image 1" class="img-fluid" />
          <img
            src="/assets/images/ff.jfif"
            alt="Image 1"
            class="img-fluid mt-2"
          />
        </div>
        <div class="col-6 mb-3 mt-5">
          <img src="/assets/images/ff.jfif" alt="Image 2" class="img-fluid" />
          <img
            src="/assets/images/R.jfif"
            alt="Image 3"
            class="img-fluid mt-2"
          />
        </div>
        <div class="col-6 mb-3">
          <img src="/assets/images/ff.jfif" alt="Image 3" class="img-fluid" />
          <img
            src="/assets/images/R.jfif"
            alt="Image 3"
            class="img-fluid mt-2"
          />
        </div>
        <div class="col-6 mb-3 mt-5">
          <img src="/assets/images/ff.jfif" alt="Image 3" class="img-fluid" />
          <img
            src="/assets/images/R.jfif"
            alt="Image 4"
            class="img-fluid mt-2"
          />
        </div>
      </div>
    </div>
  </div>
</div>
