.mat-form-field {
    width: 100%;
    background-color: #ffffff;
}

.input-group .form-control {
    border-radius: 20px 0 0 20px;
}

.input-group .btn {
    border-radius: 0 20px 20px 0;
}


.card {
    border: 1px silver solid;
    background-color: #f9f9f958;
}


.card-img-top {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.card-text{
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: gray;
}

@media (min-width: 576px) {
    .card-img-top {
        width: 150px;
        height: 150px;
    }
}

/*  */
button.mat-raised-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-form-field {
    margin-top: 0;
}


/* styles.css */

.search-bar {
    padding: 20px;
    background-color: #f9f9f9be;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.mat-form-field {
    width: 100%;
}

button[mat-raised-button] {
    width: 100%;
    background-color: #afa04c;
    color:white;
}

button[mat-raised-button] mat-icon {
    margin-right: 10px;
}

button[mat-raised-button]:hover {
    background-color: #afa04d;
    
}