<div class="container">
  <div class="row">
    <div class="col-md-6">
      <mat-card class="choice-card" (click)="register('artisan')">
        <mat-card-header>
          <mat-card-title>Artisan</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/images/seller.png" alt="Artisan" class="mb-5">
        <mat-card-content>
          <p>Join as an artisan to showcase and sell your handcrafted products.</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card class="choice-card" (click)="register('customer')">
        <mat-card-header>
          <mat-card-title>Customer</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/images/customer.png" alt="Customer" class="mb-5">
        <mat-card-content>
          <p>Sign up as a customer to discover and purchase unique artisan products.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>