<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header bg-danger text-white">
            <h4 class="card-title">User Profile</h4>
          </div>
          <div class="card-body" *ngIf="seller">
            <form>
              <div class="row mb-3">
                <div class="col-md-5">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="firstName"
                      placeholder="My site"
                      [value]="seller?.site"
                    />
                    <label for="firstName">My site</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="fullName"
                      [value]="user?.fullName"
                    />
                    <label for="username">Full Name</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating">
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      placeholder="Email address"
                      [value]="user?.email"
                    />
                    <label for="email">Email address</label>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="firstName"
                      placeholder="First Name"
                      [value]="seller?.nb_license"
                    />
                    <label for="firstName">Number of license</label>
                  </div>
                </div>
                <!-- <div class="col-md-6">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="lastName"
                      placeholder="Last Name"
                    />
                    <label for="lastName">Last Name</label>
                  </div>
                </div> -->
              </div>
              <div class="row mb-3">
                <div class="col-md-12">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="address"
                      placeholder="Address"
                      [value]="address?.street"
                    />
                    <label for="address">Address</label>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-4">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="city"
                      placeholder="City"
                      [value]="address?.name_city"
                    />
                    <label for="city">City</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="country"
                      placeholder="Country"
                      [value]="address?.name_regional"
                    />
                    <label for="country">Regional</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="postalCode"
                      placeholder="Postal Code"
                      [value]="address?.shop_number"
                    />
                    <label for="postalCode">Shop Number</label>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-warning float-end">
                Update Profile
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
