.container {
    margin-top: 20px;
    height: 100vh;
}


.btn-theme {
    background-color: #5369f8;
    border-color: #5369f8;
    color: #fff;
}

.account-block {
    padding: 0;
    background-image: url("/assets/images/image2.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}

.account-block .overlay {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.account-block .account-testimonial {
    text-align: center;
    color: #fff;
    position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;
}

.text-theme {
    color: #5369f8 !important;
}

.btn-theme {
    background-color: #5369f8;
    border-color: #5369f8;
    color: #fff;
}

.form-group {
    width: 100%;
}

.float-right {
    float: right;
}

.text-primary {
    color: #007bff;
}

.rounded-right {
    border-radius: 0 10px 10px 0;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.h4,
.h5 {
    font-size: 1.5rem;
    font-weight: bold;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.logo {
    font-size: 1.5rem;
    font-weight: 300;
}

.account-testimonial {
    width: 90%;
    margin: auto;
    padding: 15px;
    background: rgba(251, 163, 163, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.9px);
    -webkit-backdrop-filter: blur(1.9px);
}